@page
@model Afamia_UI.Pages.Admins.ProductionRooms_operations.ProductionLines.AddProductionLineModel
@{
    ViewData["Title"] = "Add Production Line";
}

<h1>Add New Production Line</h1>

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label asp-for="productionLine.Id" class="form-label">ID</label>
            <input type="text" class="form-control" asp-for="productionLine.Id">
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="productionLine.Name" class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="productionLine.Name">
        </div>

        <div class="col-md-4 mb-3">
            <label asp-for="productionLine.Room_ID" class="form-label">Room ID (Read Only)</label>
            <input type="text" class="form-control" asp-for="productionLine.Room_ID" readonly>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add Production Line</button>
</form>
